---
type Prop = {
  text: string;
};
const { text } = Astro.props;
---
<div class="max-w-5xl mx-auto px-8 py-8 text-center">
  <p class="text-lg text-gray-700 leading-relaxed">
    {text}
  </p>
</div>
