---
import Text from "../components/Text.astro";
import Title2 from "../components/Title2.astro";
---

<section id="about" class="py-20 bg-white animate-fade-left">
  <div class="max-w-5xl mx-auto px-8 text-center">
    <Title2 title="Sobre mí" />
    <Text
      text="Amplio conocimiento de análisis de datos, soluciones pertinentes a problemas en el contexto social con base en sólidos conocimientos en arquitectura y desarrollo de software y bases de datos. Habilidades de liderazgo para integrar y asesorar equipos de desarrollo de soluciones en el ámbito de las tecnologías de la información y las comunicaciones aplicando estándares y metodologías internacionales."
    />
  </div>
</section>
