---
import Text from "../components/Text.astro";
import Title2 from "../components/Title2.astro";
---

<section id="about" class="py-20 bg-white animate-fade-left">
  <div class="max-w-5xl mx-auto px-8 text-center">
    <Title2 title="Sobre mí" />
    <Text
      text="Soy egresado de Ingeniería de Sistemas de la Universidad de la Costa (CUC), con experiencia en el desarrollo de soluciones frontend y backend, enfocado en la creación de aplicaciones eficientes, seguras y orientadas a resultados reales. Cuento con formación en arquitectura de software, análisis de datos y gestión de bases de datos, aplicando buenas prácticas como principios SOLID, control de versiones y desarrollo de APIs REST."
    />
  </div>
</section>
