---
import Button from "../components/Button.astro";
import Title2 from "../components/Title2.astro";
---

<section id="contact" class="py-20 bg-gray-100 animate-fade-left">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <Title2 title="Contactos" />
    <div class="flex flex-wrap justify-center gap-4">
      <Button
        url="mailto:danieldelahozpautt@gmail.com"
        size="md"
        text="Email"
        icon="mail"
      />
      <Button
        url="https://www.linkedin.com/in/daniel-de-la-hoz-5344761aa/"
        size="md"
        text="Linkedin"
        icon="linkedin"
      />
      <Button
        url="https://github.com/danieldelahoz2212"
        size="md"
        text="GitHub"
        icon="github"
      />
      <Button
        url="https://www.instagram.com/technolearning_bq/"
        size="md"
        text="Instagram"
        icon="instagram"
      />
    </div>
  </div>
</section>

