---

---

<nav
  class="bg-white bg-opacity-65 fixed top-0 w-full z-20 start-0 border-b border-black-600 backdrop-blur-md animate-fade-up"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      href="http://localhost:4321/"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap text-black"
      >
        Daniel De La Hoz Pautt
      </span>
    </a>
    <div class="flex md:order-2 space-x-3 rtl:space-x-reverse">
      <a
        href="https://drive.google.com/file/d/1b-Gg8aQR88CxLYXII9cD-UHQMALGYm99/view?usp=sharing"
        target="_blank"
        class="hidden lg:block bg-black text-white focus:ring-4 focus:outline-none focus:ring-blue-100 font-medium rounded-lg text-sm px-4 py-2 text-center"
      >
        Descargar CV
      </a>
      <button
        id="menu-button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-black-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="menu-open"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </div>
    <div
      id="menu-open"
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 navbar"
      id="navbar-sticky"
    >
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
      >
        <li>
          <a
            href="#about"
            class="btn block py-2 px-3 text-black rounded md:bg-transparent md:p-0 hover:text-blue-300"
          >
            Sobre mí
          </a>
        </li>
        <li>
          <a
            href="#projects"
            class="btn block py-2 px-3 text-black rounded md:bg-transparent md:p-0 hover:text-blue-300"
          >
            Proyectos
          </a>
        </li>
        <li>
          <a
            href="#skills"
            class="btn block py-2 px-3 text-black rounded md:bg-transparent md:p-0 hover:text-blue-300"
          >
            Habilidades
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const button = document.querySelector("#menu-button") as Element;
  const menuOpen = document.querySelector("#menu-open") as Element;

  button?.addEventListener("click", () => {
    menuOpen.classList.toggle("hidden");
  });
</script>
