---

---

<main class="pt-20">
  <section
    id="perfil"
    class="bg-gradient-to-r from-blue-600 to-indigo-700 text-white py-20 animate-fade-left"
  >
    <div class="container px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col md:flex-row items-center justify-between">
        <div class="md:w-1/2 mb-8 md:mb-0">
          <h1 class="text-4xl md:text-5xl font-bold mb-4">
            Daniel De La Hoz Pautt
          </h1>
          <p class="text-xl mb-6">Ingeniero De Sistemas</p>
          <a
            href="#contact"
            class="bg-white text-black font-semibold rounded-lg text-lg px-6 py-3 hover:bg-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-300 transition duration-200 ease-in-out"
          >
            Contáctame
          </a>
        </div>
        <div class="md:w-1/2 flex justify-center">
          <img
            src="/public/photos/20221221_104711.jpg"
            alt="Tu foto"
            width={350}
            height={500}
            class="rounded-full border-4 border-white shadow-lg animate-wiggle animate-infinite"
          />
        </div>
      </div>
    </div>
  </section>
</main>
