---
import Cards from "../components/Cards.astro";
import Title2 from "../components/Title2.astro";

const projects = [
  {
    id: 1,
    icon:"github",
    title: "Api Dragon Ball",
    description: "proyecto desarrollado utilizando la API de Dragon Ball para mostrar información de personajes.",
    image: "/dragon-ball-api.png",
    githubLink: "https://github.com/danieldelahoz2212/dragon_ball_api",
    moreInfoLink: "https://dragonballzapi.netlify.app/",
  },
];
---

<section id="projects" class="py-20 bg-gray-100 animate-fade-left">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <Title2 title="Mis Proyectos" />
    <div class="flex justify-center">
      <Cards projects={projects} />
    </div>
  </div>
</section>
