---
import Badge from "../components/Badge.astro";
import Title2 from "../components/Title2.astro";

const skills = [
  "Java",
  "JavaScript",
  "C#",
  "Python",
  "React",
  "Nest.js",
  "Node.js",
  "Astro",
  "Flutter",
  "Firebase",
  "MongoDB",
  "MySQL",
  "SQL",
  "MariaDB",
];
---

<section id="skills" class="py-20 animate-fade-left">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <Title2 title="Mis Habilidades" />
    <div class="flex flex-wrap justify-center gap-4 mt-8">
      {
        skills.map((skill) => (
          <Badge variant="secondary" className="text-lg">
            {skill}
          </Badge>
        ))
      }
    </div>
  </div>
</section>
